npm-debug.log*
yarn-debug.log*
yarn-error.log*
stats.json
dist/
esm/
coverage
node_modules/
stats.json

# Eslint
.eslintcache
.vagrant

/preload
/renderer
/main
/common
/index.*
/integrations.*
/ipc.*
