html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-app-region: drag;
  background: url(pattern.png);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.main {
  background: white;
  border: 1px solid #c7d0d4;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  width: 80%;
}

h1 {
  font-weight: 500;
  margin-bottom: 1em;
}

.group {
  font-size: 140%;
  width: 40%;
  display: inline-block;
}

.group-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
}

.footer {
  background: linear-gradient(0deg, white, transparent);
  color: #aaa;
  text-align: center;
  padding: 1em;
}

.crash {
  cursor: pointer;
  color: inherit;
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.crash:hover {
  font-weight: 500;
}
