name: 'Build & Test'
on:
  push:
    branches:
      - master
      - release/**
  pull_request:
env:
  ELECTRON_CACHE_DIR: ${{ github.workspace }}
  FAILURE_LOG: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: 'package.json'
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Archive Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/*.tgz
      - id: set-matrix
        run: echo "matrix=$(node ./scripts/e2e-test-versions.js)" >> "$GITHUB_OUTPUT"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: 'package.json'
      - run: yarn install
      - name: Run Linter
        run: yarn lint

  test:
    name: Unit Tests
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      # we want that the matrix keeps running, default is to cancel all if one fails.
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: 'package.json'
      - run: yarn install
      - name: Run Unit Tests
        timeout-minutes: 10
        run: yarn test

  e2e:
    name: E2E Tests
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2022, macos-latest]
        electron: ${{ fromJson(needs.build.outputs.matrix) }}
        shard: [1, 2, 3, 4]
    env:
      ELECTRON_VERSION: ${{ matrix.electron }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: 'package.json'
      - run: yarn install
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.sha }}
      - name: Run E2E Tests
        timeout-minutes: 10
        run: yarn e2e --shard=${{ matrix.shard }}/4

  required_jobs_passed:
    name: All required jobs passed or were skipped
    needs: [build, lint, test, e2e]
    # Always run this, even if a dependent job failed
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check for failures
        if: contains(needs.*.result, 'failure')
        run: |
          echo "One of the dependent jobs have failed. You may need to re-run it." && exit 1
